* {
				padding: 0px;
				margin: 0px;
			}
			
			.biggest {
				width: 1010px;
				height: auto;
			}
			
			.div1 {
				width: 1000px;
				height: 70px;
			}
			
			.div1x1 {
				float: left;
				font-family: "Microsoft Yahei", "PingFang SC", Avenir, "Segoe UI", "Hiragino Sans GB", STHeiti, "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
				height: 37 px;
				width: 131px;
				margin-top: 18px;
			}
			
			.img1x1 {
				width: 100%;
			}
			
			.div1x2 {
				width: 471px;
				height: 30px;
				float: left;
				margin-top: 19px;
				margin-left: 143px;
				border: 1px solid black;
				border-radius: 20px;
				background-color: #f3f6f8;
				border-color: rgb(233, 233, 233);
				overflow: hidden;
			}
			
			.divsogou {
				width: 85px;
				height: 30px;
				background-color: #1479d7;
				float: right;
				border-radius: inherit;
				cursor: pointer;
			}
			
			.div1x2-1 {
				width: 69px;
				height: 30px;
				float: left;
			}
			
			.divtext {
				width: 307px;
				height: 28px;
				float: left;
				background-color: #f3f6f8;
				margin-top: 1.1px;
				cursor: n-resize;
			}
			
			.div1x2-1-1 {
				color: #404040;
				cursor: pointer;
				text-align: center;
				height: 30px;
			}
			
			#a1 {
				font-stretch: 100%;
				font-family: "微软雅黑";
			}
			
			.div2 {
				width: 1000px;
				height: 45px;
				float: left;
				margin-bottom: 20px;
				background-color: #1479D7;
			}
			
			.ulbig {
				width: 986px;
				height: 44px;
				background-color: #1479D7;
				float: left;
				font-size: 16px;
				font-stretch: 100%;
				line-height: 44px;
				list-style-type: disc;
				color: white;
			}
			
			.limin {
				font-family: "microsoft yahei";
				float: left;
				list-style-type: none;
				width: 80px;
				text-align: center;
				height: 44px;
				cursor: pointer;
			}
			.linmin:hover{
				background-color: rgb(225,225,225);
			}
			.limin1 {
				font-family: "microsoft yahei";
				float: left;
				list-style-type: none;
				width: 78px;
				text-align: center;
				height: 44px;
				cursor: pointer;
			}
			
			.limin2 {
				font-family: "microsoft yahei";
				float: left;
				list-style-type: none;
				width: 103px;
				text-align: center;
				height: 44px;
				cursor: pointer;
			}
			
			.div3 {
				height: 54px;
				width: 1000px;
				float: left;
			}
			
			.div3x1 {
				width: 663px;
				height: 54px;
				float: left;
				background-image: url(img/7us0b98b.jpg);
			}
			
			.div3x2 {
				width: 326px;
				height: 54px;
				float: right;
				background-color: aliceblue;
			}
			
			.after {
				content: '';
				top: 0px;
				margin-top: 13px;
				width: 10px;
				height: 15px;
				background-image: url(img/zhuomian.png);
				background-repeat: no-repeat;
				float: left;
			}
			
			.after:hover {
				background-position: 0px -30px;
			}
			
			.after1 {
				content: '';
				top: 0px;
				margin-top: 21px;
				width: 10px;
				height: 15px;
				background-image: url(img/zhuomian.png);
				background-repeat: no-repeat;
				float: left;
				cursor: pointer;
			}
			
			.after1:hover {
				background-position: 0px -30px;
			}
			
			.psss {
				margin-top: 3.5px;
			}
			
			.div3biao {
				width: 122px;
				height: 42px;
				margin: 16px;
				margin-right: 0px;
				float: right;
			}
			
			.divbiao1 {
				width: 40px;
				height: 40px;
				background-image: url(img/icons.png);
				background-position: 0px -93px;
				float: left;
			}
			
			.divbiao1:hover {
				background-position: 0px -143px;
			}
			
			.divbiao2 {
				width: 40px;
				height: 40px;
				background-image: url(img/icons.png);
				background-position: 2px -188px;
				float: left;
			}
			
			.divbiao2:hover {
				background-position: 2px -238px;
			}
			
			.divbiao3 {
				width: 35px;
				height: 35px;
				background-color: #f5f8fc;
				float: left;
				border: 1px solid rgb(202, 224, 243);
			}
			
			.pass1 {
				margin-top: 4.5px;
			}
			
			.dashu {
				width: 326px;
				margin-right: 11px;
				height: auto;
				float: left;
			}
			
			.dashu1 {
				width: 100%;
				height: 43px;
				float: left;
				border-bottom: 1px solid rgb(202, 224, 243);
			}
			
			.divbiaoti {
				height: 44px;
				text-align: center;
				width: auto;
				float: left;
			}
			
			.div1small {
				height: 30px;
				text-align: center;
				width: 32px;
				border-bottom: 4px solid #1479D7;
				padding-top: 10px;
				padding-bottom: 0px;
				float: left;
			}
			.div1small2{
				height: 30px;
				text-align: center;
				width: 64px;
				border-bottom: 4px solid #1479D7;
				padding-top: 10px;
				padding-bottom: 0px;
				float: left;
			}
			.ganggang{
				background-color: rgb(225,225,225);
				width: 0px;
				height:16px ;
				border: 1px solid rgb(225,225,225);
				float: left;
				margin-top: 14px;
				margin-left: 12px;
			}
			.biaoti {
				color: #1479D7;
				float: left;
				font-size: 16px;
				text-align: center;
				font-weight: 400;
			}
			.ha{
				background-color: white;
				color: #FFFFFF;
			}
			.ha:hover{
				background-color: rgb(225,225,225);
			}